@import "chota.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
	background-color: black;
	margin: 0;
	padding: 0;
}

/* Title */

h1 {
	font-family: "Josefin Sans", sans-serif;
	color: white;
	position: fixed;
	top: 3vw;
	left: 5vw;
	margin: 0;
	width: 60vw;
	font-size: 7vw;
}

#splash {
	object-fit: cover;
	height: 100vh;
	width: 70vw;
}

#splash-cover {
	position: fixed;
	top: 0;
	left: 70vw;
	height: 100vh;
	width: 100vh;
	transform: skew(-20deg) translateX(-18%);
}

#sidebar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
}

#logo {
	height: 12vw;
	width: 12vw;
}

#links img {
	width: 3vw;
	height: 3vw;
}
